body {
  background: #404040;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

.controls {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
  text-align: left;
}